.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.Missions {
    color: green;
    align-items: center;
    flex-direction: column;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    background: green;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
}